/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /*line-height: 60px;  Vertically center the text there */
}



/* ---------------------------------------------- *
 --------   Custom CSS Starts here ----------------------
  ----------------------------------------------*/
body {
    background-color: #fafffd;
}
/* Header*/
header {
    background-color: #d9eaf4;
    border-bottom: 4px solid #3c6fa4;
    margin-bottom: 1em;
}
.headContainer {
    display: flex;
    flex-direction: row;
    /* Makes spaces between the two divs så each is placed in each corner*/
    justify-content: space-between;
    max-width: 1440px;
    padding: 1em;
}
.dateContainer {
    display: flex;
    align-items: end;
}

#logo {
    max-width: 100px;
}

/* Wrapper for the date*/
.dateWrapper {
    background-color: white;
    height: auto;
    border: 3px solid #3c6fa4;
    border-radius: 0.2em;
    padding-left: 4px;
    padding-right: 4px;
}


/* MAIN*/
main {
    width: 80%;
    background-color: white;
    border: 3px solid #3c6fa4;
    border-radius: 0.2em;
    margin-left: 2em;
}


/* Wraprs side-nav and main*/
.middleContainer {
    display: flex;
    flex-direction: row;
    min-height: 20em;
    max-width: 1220px;
    padding-bottom: 2em;
}

/* wraps the content*/
.mainContent {
    max-width: 45em;
    padding-left: 2em;
}

/*Navigation*/
aside {
    width: 0%;
    background-color: #d9eaf4;
    border: 3px solid #3c6fa4;
    border-radius: 0.2em;

}
.sideNav ul {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}
.liNav {
    background-color: #5595e8;
    margin: 0.4em;
    text-align: center;
}
.textNav {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
}
    .textNav:hover {
        background-color: #154a8e;
        color: white;
    }
/* Footer */
.footContainer {
    min-width: 94%;
    text-align: center;
    background-color: #d9eaf4;
    border: 3px solid #3c6fa4;
    margin-top: 1em;
    margin-bottom: 1em;
}

/*Navigation*/
/*NAV*/
.navHold {
    width: 100%;
    padding-right: 10em;
}

.nav ul {
    padding-right: 0;
    width: 80%;
}
.nav {
    -webkit-transition: right 0.5s ease;
    -moz-transition: right 0.5s ease;
    -o-transition: right 0.5s ease;
    transition: right 0.5s ease;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    height: 100vh;
    right: -22rem;
    padding: 6rem 2rem 2rem 2rem;
    position: fixed;
    top: 0;
    width: 22rem;
    z-index: 1;
 
}
aside.nav.expanded {
    display:block;
}
    .nav.expanded {
        right: 0;
        background-color:black;
        z-index: 500;
    }

    .nav ul {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: left;
    }

/* Style & animate the hamburger trigger when the menu is opened and closed.*/

.nav-toggle {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    height: 2rem;
    right: 20px;
    position: fixed;
    top: 20px;
    width: 3.4rem;
    z-index: 1000;
}

    .nav-toggle:hover {
        opacity: 0.8;
    }

    .nav-toggle .nav-toggle-bar, .nav-toggle .nav-toggle-bar::after, .nav-toggle .nav-toggle-bar::before {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        background: white;
        content: '';
        height: 0.4rem;
        width: 100%;
    }

    .nav-toggle .nav-toggle-bar {
        margin-top: 0;
        box-shadow: 0px 0px 20px 10px #434444;
    }

        .nav-toggle .nav-toggle-bar::after {
            margin-top: 0.8rem;
        }

        .nav-toggle .nav-toggle-bar::before {
            margin-top: -0.8rem;
        }

    .nav-toggle.expanded .nav-toggle-bar {
        background: transparent;
    }

        .nav-toggle.expanded .nav-toggle-bar::after, .nav-toggle.expanded .nav-toggle-bar::before {
            background: white;
            margin-top: 0;
        }

        .nav-toggle.expanded .nav-toggle-bar::after {
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        .nav-toggle.expanded .nav-toggle-bar::before {
            -ms-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }


@media screen and (min-width: 990px) {

    .dateContainer {
        display: block;
    }
    aside {
        width: 20%;
    }

    .nav-toggle {
        display: none;
    }

    .nav {
        position: relative;
        /*position: right 0;*/
        right: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        display: block;
        padding: 0;
    }
        .nav ul {
            display: flex;
            flex-direction: column;
            min-width: 100%;
        }



.li:nth-of-type(1) {
    margin-left: auto;
}

.li {
    margin-left: 1em;
}



.menuText:hover {
    transition: ease-in 1ms;
    color: #c9c7c6;
}

    #logo {
        max-width: 200px;
    }
}
