@page
@model razorMom1.Pages.Om_sidanModel
@{
    ViewData["Title"] = "Om sidan";
}

<div class="mainContent">
    <h1 class="display-4 text-center">@ViewData["Title"]</h1>
    <p>
        Björn här, snart färdigutbildad fullstack webbutvecklare med egen erfarenhet av att driva e-handel.<br />
        Snabba, användarvänliga och sökmotoroptimerade webblösningar är det jag brinner för att bygga. Det är väldigt tillfredsställande att bygga saker från grunden och planera helheten, från databasdesignen och den tekniska strukturen till UX och den grafiska designen.
    </p>

</div>
