@page
@model razorMom1.Pages.StartModel
@{
    ViewData["Title"] = "Start";
}

<div class="mainContent">
    <h1 class="display-4 text-center">@ViewData["Title"] - Om ASP.NET Core</h1>
    <p>
        ASP.NET Core är en nyare version av ASP.NET som körs på .NET Core
        och .NET Framework och är ett modulärt ramverk. Det är open source.
    </p>
    <p>
        En stor skillnad mot ASP.NET är att det Kan köras på alla plattformar, Windows,
        Linux och macOS. En annan viktig skillnad är att razorpages enbart finns
        tillgängligt till ASP.NET Core.<br>
        Best practise kan sägas vara att utveckla med ASP.NET Core, det är bättre prestande
        och nya funktioner osv kommer till ASP.NET Core medans det sista stora
        versionen är släppt för ASP.NET.
    </p>
    <p>
        Version 1 utkom 2016. Version 2 2017 och ett stort utvecklingshopp sedan var
        till 3 som 2019 och numera är under long-term support.
        ASP.NET 5.0 släpptes 2020-11-10 med flera spännande nyheter som Blazor
        Server & Blazor WebAssembly support och förbättringar. Blazor är en väldigt
        intressant teknik för utveckla interaktiva webbapplikationer i C# kod
        istället för JavaScript.
        istället för JavaScript.
    </p>
</div>
